<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="igus_rebel_ros2" >

  <xacro:include filename="$(find igus_rebel)/urdf/igus_rebel_ros2.description.xacro"/>
  <xacro:igus_rebel_ros2_description  />
  <xacro:include filename="$(find igus_rebel)/urdf/igus_rebel.control.xacro"/>
  <xacro:include filename="$(find igus_rebel)/urdf/igus_rebel.gazebo.xacro"/>

  <xacro:igus_rebel_control arm_id="igus_rebel_ros2"/>
  
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>


</robot>
