<?xml version="1.0"?>
<!-- igus_rebel.control.xacro -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="igus_rebel_control" params="arm_id">
        <xacro:macro name="arm_control" params="transmission joint motor">
            <transmission name="${transmission}">
                <type>transmission_interface/SimpleTransmission</type>
                <joint name="${joint}">
                    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                </joint>
                <actuator name="${motor}">
                    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                    <mechanicalReduction>1</mechanicalReduction>
                </actuator>
            </transmission>
        </xacro:macro>
        <xacro:arm_control transmission="${arm_id}_tran_1" joint="joint1" motor="${arm_id}_motor_1"/>
        <xacro:arm_control transmission="${arm_id}_tran_2" joint="joint2" motor="${arm_id}_motor_2"/>
        <xacro:arm_control transmission="${arm_id}_tran_3" joint="joint3" motor="${arm_id}_motor_3"/>
        <xacro:arm_control transmission="${arm_id}_tran_4" joint="joint4" motor="${arm_id}_motor_4"/>
        <xacro:arm_control transmission="${arm_id}_tran_5" joint="joint5" motor="${arm_id}_motor_5"/>
        <xacro:arm_control transmission="${arm_id}_tran_6" joint="joint6" motor="${arm_id}_motor_6"/>
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
        </gazebo>
    </xacro:macro>
</robot>