<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="plugins">


        <xacro:macro name="ignition">
                
                <gazebo>

                        <!-- Control plugins -->
                        <plugin filename="ignition-gazebo-joint-state-publisher-system" name="ignition::gazebo::systems::JointStatePublisher">
                                <joint_name>joint1</joint_name>
                                <joint_name>joint2</joint_name>
                                <joint_name>joint3</joint_name>
                                <joint_name>joint4</joint_name>
                                <joint_name>joint5</joint_name>
                                <joint_name>joint6</joint_name>
                        </plugin>
                        <plugin filename="ignition-gazebo-joint-position-controller-system" name="ignition::gazebo::systems::JointPositionController">
                                <joint_name>joint1</joint_name>
                                <p_gain>100.0</p_gain>
                                <i_gain>0.0</i_gain>
                                <d_gain>0.0</d_gain>
                                <i_max>-1.0</i_max>
                                <i_min>1.0</i_min>
                        </plugin>
                        <plugin filename="ignition-gazebo-joint-position-controller-system" name="ignition::gazebo::systems::JointPositionController">
                                <joint_name>joint2</joint_name>
                                <p_gain>100.0</p_gain>
                                <i_gain>0.0</i_gain>
                                <d_gain>0.0</d_gain>
                                <i_max>-1.0</i_max>
                                <i_min>1.0</i_min>
                        </plugin>
                        <plugin filename="ignition-gazebo-joint-position-controller-system" name="ignition::gazebo::systems::JointPositionController">
                                <joint_name>joint3</joint_name>
                                <p_gain>100.0</p_gain>
                                <i_gain>0.0</i_gain>
                                <d_gain>0.0</d_gain>
                                <i_max>-1.0</i_max>
                                <i_min>1.0</i_min>
                        </plugin>
                        <plugin filename="ignition-gazebo-joint-position-controller-system" name="ignition::gazebo::systems::JointPositionController">
                                <joint_name>joint4</joint_name>
                                <p_gain>100.0</p_gain>
                                <i_gain>0.0</i_gain>
                                <d_gain>0.0</d_gain>
                                <i_max>-1.0</i_max>
                                <i_min>1.0</i_min>
                        </plugin>
                        <plugin filename="ignition-gazebo-joint-position-controller-system" name="ignition::gazebo::systems::JointPositionController">
                                <joint_name>joint5</joint_name>
                                <p_gain>100.0</p_gain>
                                <i_gain>0.0</i_gain>
                                <d_gain>0.0</d_gain>
                                <i_max>-1.0</i_max>
                                <i_min>1.0</i_min>
                        </plugin>
                        <plugin filename="ignition-gazebo-joint-position-controller-system" name="ignition::gazebo::systems::JointPositionController">
                                <joint_name>joint6</joint_name>
                                <p_gain>100.0</p_gain>
                                <i_gain>0.0</i_gain>
                                <d_gain>0.0</d_gain>
                                <i_max>-1.0</i_max>
                                <i_min>1.0</i_min>
                        </plugin>


                        <!-- Camera plugins -->
                        <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
                                <render_engine>ogre2</render_engine>
                        </plugin>

                </gazebo>

        </xacro:macro>

</robot>