<?xml version="1.0" ?>

<robot name="camera_frames" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="camera_frames" params="parent:=camera">


        <xacro:include filename="$(find igus_rebel_description_ros2)/urdf/common_properties.urdf.xacro"/>

        <xacro:macro name="inertial_box" params="mass x y z *origin">
            <inertial>
                <xacro:insert_block name="origin"/>
                <mass value="${mass}" />
                <inertia ixx="${(1/12) * mass * (y*y+z*z)}" ixy="0.0" ixz="0.0"
                        iyy="${(1/12) * mass * (x*x+z*z)}" iyz="0.0"
                        izz="${(1/12) * mass * (x*x+y*y)}" />
            </inertial>
        </xacro:macro>


        <link name="depth_camera_frame">
            <xacro:inertial_dummy/>
        </link>

        <joint name="depth_camera_joint" type="fixed">
            <parent link="${parent}_link"/>
            <child link="depth_camera_frame"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <link name="depth_camera_optical_frame">
            <xacro:inertial_dummy/>
        </link>
            
        <joint name="depth_camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966"/>
            <parent link="depth_camera_frame"/>
            <child link="depth_camera_optical_frame"/>
        </joint>

        <link name="rgb_camera_frame">
            <xacro:inertial_dummy/>
        </link>

        <joint name="rgb_camera_joint" type="fixed">
            <parent link="${parent}_link"/>
            <child link="rgb_camera_frame"/>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <link name="rgb_camera_optical_frame">
            <xacro:inertial_dummy/>
        </link>
            
        <joint name="rgb_camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966"/>
            <parent link="rgb_camera_frame"/>
            <child link="rgb_camera_optical_frame"/>
        </joint>

        <link name="left_camera_frame">
            <xacro:inertial_dummy/>
        </link>
            
        <joint name="left_camera_joint" type="fixed">
            <parent link="${parent}_link"/>
            <child link="left_camera_frame"/>
            <origin xyz="0 0.0375 0" rpy="0 0 0" />
        </joint>

        <link name="left_camera_optical_frame">
            <xacro:inertial_dummy/>
        </link>
        
        <joint name="left_camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966"/>
            <parent link="left_camera_frame"/>
            <child link="left_camera_optical_frame"/>
        </joint>

        
        <link name="right_camera_frame">
            <xacro:inertial_dummy/>
        </link>
        
        <joint name="right_camera_joint" type="fixed">
            <parent link="${parent}_link"/>
            <child link="right_camera_frame"/>
            <origin xyz="0 -0.0375 0" rpy="0 0 0" />
        </joint>

        <link name="right_camera_optical_frame">
            <xacro:inertial_dummy/>
        </link>
        
        <joint name="right_camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966"/>
            <parent link="right_camera_frame"/>
            <child link="right_camera_optical_frame"/>
        </joint>

    </xacro:macro>

    
</robot>




